<script>
      steroids.view.navigationBar.show("Papershift");

  // Listen for window.postMessage() messages that drawer sends us


  // Initialize the both drawers

  var leftDrawer = new steroids.views.WebView("/views/drawerExample/drawer.html");
  var rightDrawer = new steroids.views.WebView("/views/drawerExample/rightDrawer.html");


  leftDrawer.preload({},{
    onSuccess: initGestureLeft  // When the view has loaded, enable finger tracking
  });


  function initGestureLeft() {
    steroids.drawers.enableGesture(leftDrawer);

  }


  // Helper functions

  function openLeftDrawer() {

    steroids.drawers.show(leftDrawer);

  }



function openRightDrawer() {

  steroids.layers.push(rightDrawer);

};





    // Set navigation bar..
  steroids.view.navigationBar.show("Übersicht");

  // ..and add a button to it
  var leftButton = new steroids.buttons.NavigationBarButton();
  leftButton.imagePath = "/vendor/topcoat/img/drawer.png";

  var rightButton = new steroids.buttons.NavigationBarButton();
  rightButton.imagePath = "/vendor/topcoat/img/drawer.png";


  // ..set callback for tap action
  leftButton.onTap = function() {
      openLeftDrawer();
  };

  // ..set callback for tap action
    rightButton.onTap = function() {
        openRightDrawer();
    };

  // and finally put it to navigation bar
  steroids.view.navigationBar.setButtons({
    left: [leftButton] ,
    right: [rightButton]
  });




</script>


<div class="content-padded">


  <h1 class="center"> Dein Stundenzettel im dabei und aktuell. Jetzt starten!</h1>
  <div class="center"><div class="topcoat-button--large--cta" ontouchend="openLeftDrawer()">Open drawer</div></div>

  

</div>

