<div ng-app="appointmentApp">

  <div ng-controller="IndexCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="topcoat-list__container">

      <ul class="topcoat-list">
        <!-- order is reversed created timestamp -->
        <li class="topcoat-list__item" hm-tap="open(appointment.appointment_id)" ng-repeat="appointment in appointments | orderBy: '-createddate'">
          Appointment: {{ appointment.appointment_to_shift }} ,  {{ appointment.date }}
        </li>
        
      </ul>


    </div>

  </div>

</div>