<div ng-app="appointmentApp">

  <div ng-controller="IndexCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="topcoat-list__container">

      <ul class="topcoat-list">
        <!-- order is reversed created timestamp -->
        <li class="topcoat-list__item" hm-tap="open(appointment.appointment_id)" ng-repeat="appointment in appointments | orderBy: '-createddate'">
           {{ appointment.date | date:'fullDate' }}
<!--            <div ng-repeat="shift in shifts | filter:appointment.appointment_id">{{shift.name}} </div>
<!--            need to add appointment_id to shift item-->        
        </li>
        
      </ul>


    </div>

  </div>

</div>