<div ng-app="shiftApp">

  <div ng-controller="NewCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">
      <h1>Add a new shift</h1>

      <form class="simple-form">
        Name: <input type="text" ng-model="shift.name" /><br />
        Startzeit <br/> 
        <input type="number" ng-model="shift.start_hours" /> 
        : 
        <input type="number" ng-model="shift.start_minutes" />Uhr<br/>

        Endzeit <br/> 
        <input type="number" ng-model="shift.end_hours" /> 
        : 
        <input type="number" ng-model="shift.end_minutes" />Uhr







       
        <a class="topcoat-button" id="add" hm-tap="create(shift)">Add</a>
        <a class="topcoat-button" hm-tap="close()">Cancel</a>
      </form>

    </div>

  </div>

</div>