<script>

function buildLanguages() {
  alert("starting");

    var lang = new Array();
    lang = ["ENglisch", "asdasd", "askjdnkajsnd"];

    var html = "<div>";
    for (var i = 0; i < lang.length; i++) {
        html += "<p>" +lang[i] + "</p><br>";
    }
    html += "</div>";

    document.all.langDiv.outerHTML = html;
    return html;
}

</script>

<script type="text/javascript">
function MachPzuH () {
  document.all.MeinElement.outerHTML = "<h1>" + document.all["MeinElement"].innerText + "<\/h1>";
}
</script>


<div>

  <div>
    <div class="spinner"></div>
    <h1>kjadkadskdsa</h1>
      <div onload="buildLanguages();" id="langDiv">


      <p id="MeinElement" onload="MachPzuH();">Ein Element mit Text</p>
<a href="javascript:MachPzuH()">Mach P zu H</a>
      
    </div>

  </div>

</div>